* { font-family: inherit;  font-style: inherit;  font-size: 100%; border: none;  padding: 0;  margin: 0; }  
body { padding: 0; overflow:hidden;}  
h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, ul, ol, dl { margin: 0;}  
li, dd, blockquote { margin-left: 0;}  
table { border-collapse: collapse; border-spacing: 0;}

div#map_canvas {float:left; position:relative; margin:0 0 0 218px; height:100%; width:806px;}
div.left_column {position:absolute; z-index:100; top:0; left:0; bottom:0; width:248px; background:transparent;}
div.left_column header {float:left; width:178px; padding:25px 20px; background:#000000; height:44px;}
div.left_column header h1 {float:left; color:white; font:normal 13px Arial; padding:0;}
div.left_column header h1 strong {font:normal 35px Arial; letter-spacing:-3px;}
div.left_column ul {float:left; width:246px; height:596px; list-style:none; margin:0; padding:0 1px 0 0; overflow-y:scroll; overflow-x:hidden; background:none;}
div.left_column ul li {float:left; background:#232323; margin:0; border-top: 1px solid #333333; border-bottom:1px solid #111111; padding:18px 19px; width:180px;}
div.left_column ul li.first {border-top:1px solid #444444;}

div.left_column ul li.you {position:relative; width:248px; background:white; background-image:none; padding:0; border:none; height:137px; overflow:hidden; z-index:500; -webkit-box-shadow:none;}
div.left_column ul li.you div.top {float:left; padding:18px 0 18px 14px; width:237px; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#E1E1E1)); border-bottom:1px solid #CACACA;}
div.left_column ul li.you div.top div.image {float:left; width:44px; height:44px; border:2px solid #FFFFFF; margin:0 8px 0 0; -webkit-box-shadow:none;}
div.left_column ul li.you div.top div.image img {width:44px; height:44px;}
div.left_column ul li.you div.top div.data {float:left; width:181px;}
div.left_column ul li.you div.top div.data p {float:left; width:181px; color:#333333; font:bold 15px Arial; text-shadow: none; padding:0; }
div.left_column ul li.you div.top div.data p sup {color:#959595; font:bold 11px Arial; text-shadow:none; vertical-align: top;}
div.left_column ul li.you div.top div.data p.number {float:left; padding:3px 0 0 0;}
div.left_column ul li.you div.top div.data ul {float:left; width:130px; padding:0; height:auto; background:none;}
div.left_column ul li.you div.top div.data ul li {float:left; width:9px; text-align:center; border:none; padding:3px 3px 2px 3px; margin:0 1px 0 0; background:none; font:normal 15px Arial; color:white; text-shadow: #000000 0 -1px 2px; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#525252), to(#353535)); -webkit-border-radius:2px;}
div.left_column ul li.you div.top div.data label {float:left; width:25px; font:normal 10px Arial; color:#AEAEAE; letter-spacing:-0.5px;}
div.left_column ul li.you div.bottom {float:left; padding:0; margin:0; width:248px; border-top:1px solid #FFFFFF; background:url(../images/bottom_bkg.png) no-repeat 0 0;}
div.left_column ul li.you div.bottom a.ranking {float:left; width:127px; border-right:1px solid #E6E6E6; height:51px; background:url(../images/ranking.png) no-repeat 0 0;}
div.left_column ul li.you div.bottom a.profile {float:left; width:119px; height:51px; border-left:1px solid #BABABA; background:url(../images/profile.png) no-repeat 0 0;}
div.left_column ul li.you div.bottom a.gotomap {float:left; width:248px; padding:0; height:51px; border:none; background:url(../images/gotomap.png) no-repeat 0 0; display:none;}

div.left_column ul li div.image {float:left; width:38px; height:38px; border:2px solid #B6B6B6; margin:0 10px 0 0; -webkit-box-shadow: 0 -2px 3px #000;}
div.left_column ul li div.image img {width:38px; height:38px;}
div.left_column ul li div.data {float:left; width:128px;}
div.left_column ul li div.data p {float:left; width:128px; color:#ADADAD; font:normal 15px Arial; text-shadow: #000000 0 -1px 2px; padding:0;}
div.left_column ul li div.data p.number {padding:3px 0 0 0;}
div.left_column ul li div.data p sup {color:#919191; font:bold 11px Arial; text-shadow:none;}
div.left_column ul li div.data p small {padding:0 0 0 5px; font:normal 11px Arial; text-shadow:none;}
div.left_column ul li div.data p small.red {color:#F83232;}
div.left_column ul li div.data p small.green {color:#64C932;}


/*left:-588px;*/
div.profile {position:absolute; z-index:50; top:0;  left:-588px; width:805px; background:#232323; height:690px; border-left:1px solid #0B0B0B;}
div.profile div.header {position:relative; width:100%; height:94px; border-bottom:1px solid #444444; background:#000000;}
div.profile div.header ul {position:absolute; width:450px; bottom:-1px; left:15px; color:white; list-style:none; height:36px;}
div.profile div.header ul li {float:left; width:auto; bottom:-1px; left:15px; list-style:none; padding:8px 25px; font:normal 15px Arial; color:#7B7B7B; text-shadow: #000000 0 1px 2px;
	background:#1A1A1A; border:1px solid #2D2D2D; border-bottom:none; height:18px;}
div.profile div.header ul li:hover {cursor:pointer;}
div.profile div.header ul li.selected {color:white; text-shadow: none; background:#232323; border:1px solid #444444; border-bottom:none; height:19px;}

div.profile div.feed_container {float:left; width:755px; height:576px; padding:10px 25px;}
div.profile div.feed_container ul {float:left; height:100%; width:100%; list-style:none; overflow:scroll;}
div.profile div.feed_container ul li {float:left; border-top:1px solid #333333; border-bottom:1px solid #111111; padding:11px 0 11px 3px; width:100%;}
div.profile div.feed_container ul li.first {border-top:none;}
div.profile div.feed_container ul li.last {border-bottom:none;}
div.profile div.feed_container ul li h3 {float:left; width:100%; padding:0 0 11px 0; font:normal 13px Arial; color:#B6B6B6; text-shadow: #000000 0 -1px 2px;}
div.profile div.feed_container ul li h3.green {color:#99CCCC;}
div.profile div.feed_container ul li h3 strong {font:normal 13px Arial; color:#666666;}
div.profile div.feed_container ul li div.image {float:left; margin:0 10px 0 0;}
div.profile div.feed_container ul li div.image img {width:38px; height:38px; -webkit-box-shadow: 1px 1px 8px #000;}
div.profile div.feed_container ul li div.information {float:left; }
div.profile div.feed_container ul li div.information p.kind {font:normal 15px Arial; color:white; text-shadow: #000000 0 -1px 2px; padding:0;}
div.profile div.feed_container ul li div.information p.learn {font:normal 11px Arial; color:#999999; text-shadow: #000000 0 -1px 2px; padding:4px 0 0 0; text-decoration:underline;}


div#mamufas {position:absolute; left:218px; height:100%; width:806px; background:#333333; opacity:0.70;}
div#loader {position:absolute; left:400px; top:400px; -webkit-border-radius:10px; background:#000000; width:80px; height:80px; z-index:100;}
div#loader img {position:relative; margin:24px 0 0 24px;}



